.header {
    width: 100% !important;
    height: 48px;
    padding: 10px 10px;
    color: white; 
    position: relative;
    z-index: 10;
}

.spacer {
    flex: 1 1 auto;
}

.app-title{
    cursor: pointer;
    outline: none;
    border: 0;
}

.app-subtitle {
    margin-left: 12px;
    padding-left: 12px;
    font-weight: 400;
    border-left: 1px solid white;
}

.user-name{
    font-size: 16px;
}

.primary-green{
    background: rgb(28, 199, 116);
}

.mat-badge-content{
    background: rgb(96, 96, 230);
}
