.mat-mdc-form-field {
    width: 15%;
    height: 70px;
    margin: 1%;
}

.form-container {
  display: flex;
  align-items: center;
}

mat-form-field {
  margin-right: 16px; /* Adjust the space between the input and the button */
}

.mat-50{
    width: 20%;
    margin: 1%;
}

.mat-60{
    width: 55%;
    margin: 1%;
}

button{
    margin: 5px;
}

.showDetails p{
    color: #005ee6;
    font-weight: bold;
    position: relative;
    line-height: 0.5;
}

td { white-space:pre }

.mat-mdc-row:hover {
    background-color: aliceblue !important
  }

.mdc-data-table__cell, .mdc-data-table__header-cell{
  padding: 0 6px 0 6px;
}

.space {
  margin-right: 15px;
}

.spacer {
  flex: 1 1 auto;
}

.icon {
  cursor: pointer;
}

.table {
  table-layout: fixed;
  width: 100%
 }