<header-component> </header-component>

<div class="tool-title-container mat-elevation-z1">
  <mat-toolbar class="tool-title-bar">
  <ng-container>
    <mat-icon matRipple class="sidenav-toggle-button" (click)="drawer.toggle()">menu</mat-icon>
  </ng-container>
<span class="tool-title">Temple Account Management</span>
<span class="spacer"></span>
<button mat-raised-button class="tool-button">About</button>
<span class="space"></span>
<button mat-raised-button class="tool-button">
  contact</button>
</mat-toolbar>
</div>

<mat-drawer-container autosize>
  <mat-drawer #drawer opened="true" mode="side" position="start">
    <side-nav></side-nav>  
  </mat-drawer>
  <mat-drawer-content>
      <div style="text-align: center;min-height: 600px;">

          <router-outlet></router-outlet>
          </div>
  </mat-drawer-content>
</mat-drawer-container>
