<mat-card>
    <mat-card-header>
      <mat-form-field>
        <input matInput (keyup)="Filterchange($event)" placeholder="Enter the text" />
      </mat-form-field>
  <button routerLink="/user" style="margin-left: 60%;" mat-raised-button color="primary">Add User (+)</button>

    </mat-card-header>
    <mat-card-content>

    
<table matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSortActive="userId" matSortDirection="asc" matSortDisableClear>
    <ng-container matColumnDef="edit">
        <th mat-sort-header mat-header-cell *matHeaderCellDef> Edit</th>
        <td mat-cell *matCellDef="let element">
            <button mat-button (click)="editUser(element)"><mat-icon>edit</mat-icon></button>
            <button mat-button (click)="deleteUser(element)"><mat-icon>delete</mat-icon></button>
        </td>
      </ng-container>

    <ng-container matColumnDef="userId">
      <th mat-sort-header mat-header-cell *matHeaderCellDef> userId</th>
      <td mat-cell *matCellDef="let element">{{element.userId}}</td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-sort-header mat-header-cell *matHeaderCellDef > Name</th>
        <td mat-cell *matCellDef="let element">{{element.name}}</td>
      </ng-container>

      <ng-container matColumnDef="fatherName">
        <th mat-sort-header mat-header-cell *matHeaderCellDef> Father Name</th>
        <td mat-cell *matCellDef="let element">{{element.fatherName}}</td>
      </ng-container>

      <ng-container matColumnDef="Address">
        <th mat-sort-header mat-header-cell *matHeaderCellDef> Address</th>
        <td mat-cell *matCellDef="let element">{{element.streetAddress1}} <pre>{{element.streetAddress2}}</pre></td>
      </ng-container>
<!-- 
      <ng-container matColumnDef="streetAddress2">
        <th mat-sort-header mat-header-cell *matHeaderCellDef> streetAddress2</th>
        <td mat-cell *matCellDef="let element">{{element.streetAddress2}}</td>
      </ng-container> -->

      <ng-container matColumnDef="city">
        <th mat-sort-header mat-header-cell *matHeaderCellDef> city</th>
        <td mat-cell *matCellDef="let element">{{element.city}}</td>
      </ng-container>

      <ng-container matColumnDef="state">
        <th mat-sort-header mat-header-cell *matHeaderCellDef> state</th>
        <td mat-cell *matCellDef="let element">{{element.state}}</td>
      </ng-container>

      <ng-container matColumnDef="zipCode">
        <th mat-sort-header mat-header-cell *matHeaderCellDef> zipCode</th>
        <td mat-cell *matCellDef="let element">{{element.zipCode}}</td>
      </ng-container>

      <ng-container matColumnDef="ancestorVillage">
        <th mat-sort-header mat-header-cell *matHeaderCellDef> ancestorVillage</th>
        <td mat-cell *matCellDef="let element">{{element.ancestorVillage}}</td>
      </ng-container>
      <ng-container matColumnDef="phone">
        <th mat-sort-header mat-header-cell *matHeaderCellDef> phone</th>
        <td mat-cell *matCellDef="let element">{{element.phone}}</td>
      </ng-container>
      <ng-container matColumnDef="whatsApp">
        <th mat-sort-header mat-header-cell *matHeaderCellDef> whatsApp</th>
        <td mat-cell *matCellDef="let element">{{element.whatsApp}}</td>
      </ng-container>
      <ng-container matColumnDef="emailId">
        <th mat-sort-header mat-header-cell *matHeaderCellDef> emailId</th>
        <td mat-cell *matCellDef="let element">{{element.emailId}}</td>
      </ng-container>
      <ng-container matColumnDef="notes">
        <th mat-sort-header mat-header-cell *matHeaderCellDef> notes</th>
        <td mat-cell *matCellDef="let element">{{element.notes}}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action</th>
        <td mat-cell *matCellDef="let element">

            <button mat-raised-button color="primary">Edit</button>
            <button mat-raised-button color="warn">Delete</button>
            <button mat-raised-button color="primary">Detail</button>
        </td>
      </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>

</table>

</mat-card-content>
<br>
<mat-card-footer>

    <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>

</mat-card-footer>
</mat-card>