.mat-mdc-form-field {
    width: 15%;
    height: 70px;
    margin: 1%;
}

button{
    margin: 5px;
}

.mat-mdc-form-field {
    width: 15%;
    height: 70px;
    margin: 1%;
}
  
.mat-50{
    width: 30%;
    margin: 1%;
}