
<!-- 
  <div #htmlContainer></div> -->
  <ng-container *ngIf="this.pageTitle=='ViewPayment'">
    
    <div #printContent id="printContent">
      
      <div class="content">
        <header class="clearfix">  
            <h4>உ</h4>  
            <h4>ஸ்ரீ கன்னி விநாயகர் துணை</h4>    
            <h1>ஸ்ரீ பெரியபிள்ளை அம்மன் கோவில்</h1>
            <h4>புங்கவர்நத்தம்</h4>              
            <h3>நன்கொடை ரசீது</h3>

            <div id="member" class="clearfix">
              <div><span class="details">தேதி: </span> <b>{{payment.paymentDate | date: 'dd/MM/yyyy'}}</b></div>
            </div>
            <div id="project">
              <div><span class="details">உறுப்பினர் அடையாள எண்: </span> <b>{{memberDetails.memberId}}</b></div>
              <div><span class="details">பெயர்: </span> <b>{{memberDetails.name}}</b></div>
              <div><span class="details">தந்தையின் பெயர்: </span> <b>{{memberDetails.fatherName}}</b></div>              
              <!-- <div><span class="details">முன்னோர் கிராமம்</span>  {{memberDetails.ancestorVillage}}</div> -->
            </div>
          </header>
            <table>
              <thead>
                <tr>
                  <th class="service">SERVICE</th>
                  <th class="desc">DESCRIPTION</th>
                  <th>PRICE</th>
                  <th>QTY</th>
                  <th>TOTAL</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="service">Design</td>
                  <td class="desc">Creating a recognizable design solution based on the company's existing visual identity</td>
                  <td class="unit">$40.00</td>
                  <td class="qty">26</td>
                  <td class="total">$1,040.00</td>
                </tr>
                <tr>
                  <td class="service">Development</td>
                  <td class="desc">Developing a Content Management System-based Website</td>
                  <td class="unit">$40.00</td>
                  <td class="qty">80</td>
                  <td class="total">$3,200.00</td>
                </tr>                
                <tr>
                  <td colspan="4">SUBTOTAL</td>
                  <td class="total">$5,200.00</td>
                </tr>
                <tr>
                  <td colspan="4">TAX 25%</td>
                  <td class="total">$1,300.00</td>
                </tr>
                <tr>
                  <td colspan="4" class="grand total">GRAND TOTAL</td>
                  <td class="grand total">$6,500.00</td>
                </tr>
              </tbody>
            </table>
            <div id="notices">
              <div>NOTICE:</div>
              <div class="notice">A finance charge of 1.5% will be made on unpaid balances after 30 days.</div>
            </div>
          </div>

</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="printPayment(payment.paymentId)" color="primary">Print</button>
    <a (click)="closepopup()" mat-raised-button color="warn">Close</a>
</div>
</ng-container>
