

  <ng-container *ngIf="this.pageTitle=='ViewPayment'">
    
    <div #printContent id="printContent">
      
      <div class="content">
        <header class="clearfix">  
            <h4>உ</h4>  
            <h4>ஸ்ரீ கன்னி விநாயகர் துணை</h4>    
            <h1>ஸ்ரீ பெரியபிள்ளை அம்மன் கோவில்</h1>
            <h4>புங்கவர்நத்தம்</h4>              
            <h3>நன்கொடை ரசீது</h3>

            <div id="member" class="clearfix">
              <div><span class="details">
                கட்டணம் தேதி: </span> <b>{{payment.paymentDate | date: 'dd/MM/yyyy'}}</b></div>
              <div><span class="details">கட்டண முறை: </span> <b>{{payment.paymentMode}}</b></div>
            </div>
            <div id="project">
              <div><span class="details">உறுப்பினர் அடையாள எண்: </span> <b>{{memberDetails.memberId}}</b></div>
              <div><span class="details">பெயர்: </span> <b>{{memberDetails.name}}</b></div>
              <div><span class="details">தந்தையின் பெயர்: </span> <b>{{memberDetails.fatherName}}</b></div>              
              <!-- <div><span class="details">முன்னோர் கிராமம்</span>  {{memberDetails.ancestorVillage}}</div> -->
            </div>
          </header>
            <table>
              <thead>
                <tr>
                  <th class="service">ரசீது எண்</th>
                  <th class="service">கட்டண விவரம்</th>
                  <th class="service">தொகை (ரூ)</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td ><b>{{payment.receiptNo}}</b></td>
                  <td class="desc">{{payment.occasionDesc}}</td>
                  <td class="amount">₹{{payment.paymentAmount}}</td>                  
                </tr>                
                <tr>
                  <td colspan="2" class="total">மொத்த தொகை</td>
                  <td class="amount">₹{{payment.paymentAmount}}</td>
                </tr>
              </tbody>
            </table>
            <div id="service">
              <div><span class="details">
                தொகை (எழுத்தாயில்): </span> {{payment.paymentAmount.toString() | amountInWords}}</div>
              <!-- <div class="details">தொகை (எழுத்தாயில்): </div>
              <div class="service">{{payment.paymentAmount.toString() | amountInWords}}</div> -->
            </div>
            <header class="clearfix"> 
              <div id="project">
                <div><span class="details">வசூலிப்பவர்: </span> <b>{{payment.receivedBy}}</b></div>
              </div>
              <div id="member" class="clearfix">                
                <br/>
                <br/>
                <div><span class="details">
                  கையொப்பம் </span></div>
              </div>
            </header>
      </div>

</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="printPayment(payment.paymentId)" color="primary">Print</button>
    <a (click)="closepopup()" mat-raised-button color="warn">Close</a>
</div>
</ng-container>
