<form [formGroup]="UserUpdateForm" (ngSubmit)="saveUser()">
    <h1 mat-dialog-title>{{inputdata.title}}</h1>
    <div mat-dialog-content>
      <mat-form-field>
        <mat-label>User Id</mat-label>
        <input [(ngModel)]="user.userId" formControlName="userId" matInput readonly >
       </mat-form-field>
       <mat-form-field>
        <mat-label>Name</mat-label>
        <input [(ngModel)]="user.name" formControlName="name" matInput>
       </mat-form-field>
       <mat-form-field>
        <mat-label>Father Name</mat-label>
        <input matInput [(ngModel)]="user.fatherName" formControlName="fatherName">
       </mat-form-field>
       <mat-form-field>
        <mat-label>Street Address1</mat-label>
        <input matInput [(ngModel)]="user.streetAddress1" formControlName="streetAddress1">
       </mat-form-field>
       <mat-form-field>
        <mat-label>street Address2</mat-label>
        <input matInput [(ngModel)]="user.streetAddress2" formControlName="streetAddress2">
       </mat-form-field>
       <mat-form-field>
        <mat-label>city</mat-label>
        <input matInput [(ngModel)]="user.city" formControlName="city">
       </mat-form-field>
       <mat-form-field>
        <mat-label>State</mat-label>
        <input matInput [(ngModel)]="user.state" formControlName="state">
       </mat-form-field>
       <mat-form-field>
        <mat-label>Zip Code</mat-label>
        <input matInput [(ngModel)]="user.zipCode" formControlName="zipCode">
       </mat-form-field>
       <mat-form-field>
        <mat-label>Ancestor Village</mat-label>
        <input matInput [(ngModel)]="user.ancestorVillage" formControlName="ancestorVillage">
       </mat-form-field>
       <mat-form-field>
        <mat-label>Phone</mat-label>
        <input matInput [(ngModel)]="user.phone" formControlName="phone">
       </mat-form-field>
       <mat-form-field>
        <mat-label>Whats App</mat-label>
        <input matInput [(ngModel)]="user.whatsApp" formControlName="whatsApp">
       </mat-form-field>
       <mat-form-field>
        <mat-label>Email Id</mat-label>
        <input matInput [(ngModel)]="user.emailId" formControlName="emailId">
       </mat-form-field>
       <mat-form-field>
        <mat-label>Notes</mat-label>
        <input matInput [(ngModel)]="user.notes" formControlName="notes">
       </mat-form-field>
       <!-- <div>
        <mat-checkbox formControlName="status">Is Active</mat-checkbox>
       </div> -->
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button type="submit" color="primary">Save</button>
      <a (click)="closepopup()" mat-raised-button color="warn">Close</a>
      <!-- <button mat-raised-button [mat-dialog-close]="closemessage" color="accent">Cancel</button> -->
    </div>
    </form>