<mat-card>
    <mat-card-header>
      <mat-form-field>
        <input matInput (keyup)="Filterchange($event)" placeholder="Enter the text" />        
        <!-- <input matInput (keyup)="applyFilter($event)" placeholder="Filter"> -->
      </mat-form-field>
      <span class="spacer"></span>
        <button routerLink="/member" mat-raised-button color="primary">Add User (+)</button>     
        <span class="space"></span>   
        <button (click)="exportMember()" mat-raised-button color="primary">Export to CSV 
          <mat-icon>download</mat-icon> 
        </button>
        <span class="space"></span>
        <button (click)="loadMemberDetails()" mat-raised-button color="primary">Refresh Data 
          <mat-icon>refresh</mat-icon> 
        </button>
    </mat-card-header>
    <mat-card-content>
  <table matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSortActive="memberId" matSortDirection="asc" matSortDisableClear>
    <ng-container matColumnDef="edit">
        <th mat-sort-header mat-header-cell *matHeaderCellDef> Action</th>
        <td mat-cell *matCellDef="let element">
          <mat-icon class="icon" (click)="editMember(element)">edit</mat-icon>
          <mat-icon class="icon" (click)="deleteMember(element)">delete</mat-icon>
        </td>
      </ng-container>

    <ng-container matColumnDef="memberId">
      <th mat-sort-header mat-header-cell *matHeaderCellDef> Member Id</th>
      <td mat-cell *matCellDef="let element">{{element.memberId}}</td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-sort-header mat-header-cell *matHeaderCellDef > Name</th>
        <td mat-cell *matCellDef="let element">{{element.name}}</td>
      </ng-container>

      <ng-container matColumnDef="fatherName">
        <th mat-sort-header mat-header-cell *matHeaderCellDef> Father Name</th>
        <td mat-cell *matCellDef="let element">{{element.fatherName}}</td>
      </ng-container>

      <ng-container matColumnDef="gender">
        <th mat-sort-header mat-header-cell *matHeaderCellDef> Gender</th>
        <td mat-cell *matCellDef="let element">{{element.gender}}</td>
      </ng-container>

      <ng-container matColumnDef="Address">
        <th mat-sort-header mat-header-cell *matHeaderCellDef> Address</th>
        <td mat-cell *matCellDef="let element">{{element.streetAddress1}} <pre>{{element.streetAddress2}}</pre></td>
      </ng-container>
<!--
      <ng-container matColumnDef="streetAddress2">
        <th mat-sort-header mat-header-cell *matHeaderCellDef> streetAddress2</th>
        <td mat-cell *matCellDef="let element">{{element.streetAddress2}}</td>
      </ng-container> -->

      <ng-container matColumnDef="city">
        <th mat-sort-header mat-header-cell *matHeaderCellDef> City</th>
        <td mat-cell *matCellDef="let element">{{element.city}}</td>
      </ng-container>

      <ng-container matColumnDef="state">
        <th mat-sort-header mat-header-cell *matHeaderCellDef> State</th>
        <td mat-cell *matCellDef="let element">{{element.state}}</td>
      </ng-container>

      <ng-container matColumnDef="zipCode">
        <th mat-sort-header mat-header-cell *matHeaderCellDef> ZipCode</th>
        <td mat-cell *matCellDef="let element">{{element.zipCode}}</td>
      </ng-container>

      <ng-container matColumnDef="ancestorVillage">
        <th mat-sort-header mat-header-cell *matHeaderCellDef> AncestorVillage</th>
        <td mat-cell *matCellDef="let element">{{element.ancestorVillage}}</td>
      </ng-container>
      <ng-container matColumnDef="phone">
        <th mat-sort-header mat-header-cell *matHeaderCellDef> Phone</th>
        <td mat-cell *matCellDef="let element">{{element.phone}}</td>
      </ng-container>
      <ng-container matColumnDef="whatsApp">
        <th mat-sort-header mat-header-cell *matHeaderCellDef> WhatsApp</th>
        <td mat-cell *matCellDef="let element">{{element.whatsApp}}</td>
      </ng-container>
      <ng-container matColumnDef="emailId">
        <th mat-sort-header mat-header-cell *matHeaderCellDef> EmailId</th>
        <td mat-cell *matCellDef="let element">{{element.emailId}}</td>
      </ng-container>
      <ng-container matColumnDef="notes">
        <th mat-sort-header mat-header-cell *matHeaderCellDef> Notes</th>
        <td mat-cell *matCellDef="let element">{{element.notes}}</td>
      </ng-container>

      <!-- <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action</th>
        <td mat-cell *matCellDef="let element">

            <button mat-raised-button color="primary">Edit</button>
            <button mat-raised-button color="warn">Delete</button>
            <button mat-raised-button color="primary">Detail</button>
        </td>
      </ng-container> -->


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>

    </table>

</mat-card-content>
<br>
<mat-card-footer>

    <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>

</mat-card-footer>
</mat-card>
